.lienAdmin{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}


.addArticle{
    position: absolute;
    top: 0;
    left: 10%;
}

.changePassword{
    position: absolute;
    top: 0;
    right: 10%;
}