h1{
    margin-bottom: 5%;
}

.articleList{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.article{
    color: #00909e;
    width: 15%;
    height: 10%;;
    margin: 4%;
    padding: 1%;
    background-color: #27496d;
}


.buttonArticle{
    background-color: #142850;
    color: cornflowerblue;
    padding: 2%;
    border: 2px solid whitesmoke;
    transition-property: background-color;
    transition-duration: 1s;

}
.buttonArticle:hover{
    background-color: whitesmoke;
}


.paginationArticle{
    display: flex;
    justify-content: center;
}

.paginationArticle span{
    width: 2%;
    border: 2px solid lightgrey;
    margin: 0.1em;
    display: inline-block;
}
.paginationArticle a{
    display: inline-block;
    width: 100%;
    background-color: grey;
}
.paginationArticle a:hover{
    transition-property: background-color;
    transition-duration: 1s;
    background-color: lightgrey;
}

@media all and (max-device-width: 1024px) /*Version tablette*/
{
    .article{
        width: 40%;
        height: 180px;
    }
}

@media all and (max-device-width: 480px)/*Version mobile*/
{
   .article{
    width: 90%;
   } 
}